<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/icons.all.min.css}" rel="stylesheet">
  <title>Projects</title>
</head>

<body>
<section>
  <div th:insert="~{fragments/nav :: account}"></div>
  <div th:insert="~{fragments/nav :: tab}"></div>
</section>

<section style="padding-top: 20px; padding-bottom: 10px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="mb-5">
          <h5>Страница администратора</h5>
        </div>

        <div th:insert="~{fragments/nav :: admin}"></div>

        <!--      Проекты    -->
        <div class="p-4">
          <div class="table-responsive">
            <table class="table table-striped w-auto">
              <thead>
              <tr>
                <th><p>#</p></th>
                <th><p>Название</p></th>
                <th><p>Описание</p></th>
                <th><p>Дата создания</p></th>
                <th><p>Изменить</p></th>
              </tr>
              </thead>

              <tbody>
              <tr th:each="project : ${projects}">
                <td th:text="${project.id()}">Id</td>
                <td th:text="${project.name()}">Name</td>
                <td th:text="${project.description()}">Description</td>
                <td th:text="${#dates.format(project.createdAt(), 'yyyy-MM-dd')}">Created</td>
                <td>
                  <form th:action="@{/admin/project/find}" method="GET">
                    <label>
                      <input hidden type="text" name="findById" th:value="${project.id()}">
                    </label>
                    <button type="submit" class="btn btn-sm btn-outline-primary">
                      <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                  </form>
                </td>
              </tr>
              <tr th:if="${filter?.findById() eq null}">
                <td>
                  <form th:action="@{/admin/project}" method="POST" id="formCreateProject">
                  </form>
                </td>
                <td>
                  <input class="form-control" name="name" form="formCreateProject">
                </td>
                <td>
                  <textarea class="form-control" name="description" form="formCreateProject"
                            rows="1" maxlength="1000"></textarea>
                </td>
                <td>
                  <button class="btn btn-outline-success" form="formCreateProject"
                          type="submit">Создать</button>
                </td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div th:if="${edit}">
        <div class="container-fluid">
          <div class="row justify-content-start">
            <div class="col-sm-10 col-md-8 col-xl-6 p-4">
              <div class="card">
                <div class="card-header">
                  Изменить проект
                </div>
                <div class="card-body">
                  <div class="card-text">
                    <form th:action="@{/admin/project/edit}" method="POST" th:object="${edit}">
                      <div class="row gy-4">
                        <label>
                          <input hidden type="text" name="id" th:value="*{id}">
                        </label>
                        <div class="col-12">
                          <div class="form-text">Название</div>
                          <div class="input-group has-validation">
                            <input class="form-control"
                                   th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                                   id="inputName" type="text" th:field="*{name}"
                                   aria-describedby="validationNameFeedback"
                                   aria-label="" required>
                            <div id="validationNameFeedback" class="invalid-feedback">
                              <div th:if="${#fields.hasErrors('name')}">
                                <ul>
                                  <li th:each="error : ${#fields.errors('name')}"
                                      th:text="${error}">Name error</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-text">Описание</div>
                          <div class="input-group has-validation">
                            <textarea class="form-control"
                                   th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'"
                                   id="inputDescription" type="text" th:field="*{description}"
                                   aria-describedby="validationDescriptionFeedback"
                                      aria-label="" rows="5" maxlength="1000" required></textarea>
                            <div id="validationDescriptionFeedback" class="invalid-feedback">
                              <div th:if="${#fields.hasErrors('description')}">
                                <ul>
                                  <li th:each="error : ${#fields.errors('description')}"
                                      th:text="${error}">Description error</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="d-grid mt-4">
                          <input class="btn btn-outline-primary" type="submit" value="Обновить">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-10 col-md-8 col-xl-6 p-4">
              <div class="card">
                <div class="card-header">
                  <div class="card-text">Изменить список групп в проекте</div>
                </div>

                <div class="card-body">
                  <p>Отметьте все необходимые группы</p>
                  <form th:action="@{/admin/project/group}" method="POST">
                    <select class="form-select" th:size="${groups?.size()}"
                            name="formGroups" aria-label="" multiple>
                      <option th:each="group : ${groups}"
                              th:value="${group.id()}" th:text="${group.name()}"
                              th:selected="${projectGroups.contains(group.id)}">Groups
                      </option>
                    </select>
                    <input th:value="${edit.id()}" name="projectId" hidden>
                    <div class="d-grid mt-4">
                      <input class="btn btn-outline-primary" type="submit" value="Обновить">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>