<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title>Projects</title>
</head>

<body>
<section>
  <div th:insert="~{fragments/nav :: account}"></div>
  <div th:insert="~{fragments/nav :: tab}"></div>
</section>

<section style="padding-top: 20px; padding-bottom: 10px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="mb-5">
          <h5>Страница администратора</h5>
        </div>

        <div th:insert="~{fragments/nav :: admin}"></div>

        <!--      Проекты    -->
        <div class="mt-3">
          <div class="table-responsive">
            <table class="table table-striped w-auto">
              <thead>
              <tr>
                <th><p>#</p></th>
                <th><p>Название</p></th>
                <th><p>Описание</p></th>
                <th><p>Дата создания</p></th>
              </tr>
              </thead>

              <tbody>
              <tr th:each="project : ${projects}">
                <td th:text="${project.id()}">Id</td>
                <td th:text="${project.name()}">Name</td>
                <td th:text="${project.description()}">Description</td>
                <td th:text="${#dates.format(project.createdAt(), 'yyyy-MM-dd')}">Created</td>
              </tr>
              <form th:action="@{/admin/project}" method="POST">
                <tr>
                  <td></td>
                  <td>
                    <input class="form-control" name="name">
                  </td>
                  <td>
                    <textarea class="form-control" name="description"
                              rows="1" maxlength="1000"></textarea>
                  </td>
                  <td>
                    <button class="btn btn-outline-primary" type="submit">Создать</button>
                  </td>
                </tr>
              </form>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>