<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Navigation</title>
</head>

<body>
<div th:fragment="account">
  <nav class="navbar navbar-expand-md border-bottom"
       style="background-color: #273A64;">
    <!--      0747A7-->
    <div class="container">
      <a class="navbar-brand fst-italic text-white" href="/my">Task Tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <span class="nav-link text-white">Вошли как:
                <span th:text="${#authentication.name}">Name</span>
              </span>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/account/edit">Учётная запись</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/logout">Выход</a>
          </li>
          <!--            <li class="nav-item">-->
          <!--              <div th:insert="~{lang/selector :: lang-light}"></div>-->
          <!--            </li>-->
        </ul>
      </div>
    </div>
  </nav>
</div>


<div th:fragment="tab">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false"
              aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link"
             aria-current="page" href="/my">Моя страница</a>
          <div sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link"
               href="/admin/account/find">Администрирование</a>
          </div>
          <a class="nav-link" href="/my/projects">Проекты</a>
          <a class="nav-link" href="/my/tasks">Задачи</a>
          <a class="nav-link" href="/my">Трудозатраты</a>
<!--          /expenses-->
          <a class="nav-link" href="/my">Новости</a>
<!--          /news-->
        </div>
      </div>
    </div>
  </nav>
</div>




<ul th:fragment="admin" class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" th:classappend="${tab eq 'find'} ? 'active'"
       th:href="@{/admin/account/find}">Поиск аккаунта</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${tab eq 'create'} ? 'active'"
       th:href="@{/admin/account/create}">Создать аккаунт</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${tab eq 'group'} ? 'active'"
       th:href="@{/admin/group}">Группы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${tab eq 'team'} ? 'active'"
       th:href="@{/admin/team}">Состав групп</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${tab eq 'project'} ? 'active'"
       th:href="@{/admin/project/find}">Проекты</a>
  </li>
</ul>


<ul th:fragment="task" class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" th:classappend="${tab eq 'comment'} ? 'active'"
       th:href="@{/tasks/{id}(id=${task.id()})}">Примечания</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${tab eq 'story'} ? 'active'"
       th:href="@{/tasks/{id}(id=${task.id()}, tab='story')}">История</a>
  </li>
</ul>


<a th:fragment="paging(pageNum, label, tooltip)" class="page-link"
   th:href="@{'/admin/account/find?' + 'page=' + ${pageNum} + '&size=' + ${pageSize}}"
   th:title="${tooltip}" rel="tooltip" th:text="${label}">Link
</a>


</body>
</html>