<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title>Task</title>
</head>

<body>

<section>
  <div th:insert="~{fragments/nav :: account}"></div>
  <div th:insert="~{fragments/nav :: tab}"></div>
</section>

<section style="padding-top: 80px; padding-bottom: 10px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="fs-4 fw-semibold">
          <span th:text="${task.type().getType()} + ' #' + ${task.id()} + ' '">Type and task id
          </span>
          <span class="badge text-bg-primary"
                th:if="${task.status().name() ne 'CLOSED'}">Открыто</span>
          <span class="badge text-bg-success"
                th:if="${task.status().name() eq 'CLOSED'}">Закрыто</span>
        </p>
      </div>
      <div class="col">
        <button class="btn btn-secondary" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseEdit"
                aria-expanded="false" aria-controls="collapseEdit">Редактировать
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <br><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-2">
            <p>Статус:</p>
          </div>
          <div class="col">
            <p th:text="${task.status().getStatus()}">Status</p>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <p>Приоритет:</p>
          </div>
          <div class="col">
            <span class="badge"
                  th:classappend="${
                        (task.priority().name() eq 'LOW' ? 'text-bg-secondary' : '') +
                        (task.priority().name() eq 'NORMAL' ? 'text-bg-success': '') +
                        (task.priority().name() eq 'HIGH' ? 'text-bg-warning' : '') +
                        (task.priority().name() eq 'URGENT' ? 'text-bg-danger' : '')}"
                  th:text="${task.priority().name()}">Priority</span>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <p>Назначена:</p>
          </div>
          <div class="col">
            <a th:href="@{'/' + ${task.assigned()?.type()?.getPath()} + '/' + ${task.assigned?.id()}}"
               th:text="${task.assigned()?.name()}">Assigned</a>
            <p th:if="not ${task.assigned()}">-</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-3">
            <p>Дата начала:</p>
          </div>
          <div class="col">
            <p th:text="${task.startDate()} ?: _">-</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p>Срок завершения:</p>
          </div>
          <div class="col">
            <p th:text="${task.endDate()} ?: _">-</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p>Прогресс:</p>
          </div>
          <div class="col">
            <div class="progress" role="progressbar" aria-label="Basic example"
                 th:aria-valuenow="${task.progress()}" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 100%"
                   th:style="|width: ${task.progress()}%|" th:text="|${task.progress()}%|">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4"><hr></div>

    </div>
  </div>
</section>

<section style="padding-top: 20px; padding-bottom: 10px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div th:class="'collapse' + ${errors ne null ? ' show' : ''}" id="collapseEdit">
          <div class="card card-footer">
            <form th:action="@{/tasks/{taskId}/update(taskId=${task.id()})}" method="POST"
                  th:object="${task}" id="formTaskEdit">

              <div th:insert="~{fragments/task :: edit}"></div>

            </form>
            <form th:action="@{/tasks/{taskId}(taskId=${task.id()})}" id="formTaskReset">
            </form>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary me-3"
                      form="formTaskEdit">Сохранить
              </button>
              <button class="btn btn-secondary me-3" type="button"
                      data-bs-toggle="collapse" data-bs-target="#collapseEdit"
                      aria-expanded="false" aria-controls="collapseEdit">Отмена
              </button>
              <button type="submit" class="btn btn-outline-danger"
                      form="formTaskReset">Сброс
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Модальное окно: Родительская задача - поиск-->
  <div class="modal fade" id="findParentTaskModal" tabindex="-1"
       aria-labelledby="findParentTaskLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="findParentTaskLabel">Поиск родительской задачи</h1>
          <button type="button" class="btn-close"
                  data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label fs-5"
                   for="findParentInputModal">Поиск по заголовку</label>
            <input class="form-control" aria-describedby="findParentHelp"
                   id="findParentInputModal" name="findPattern">
            <span id="searchParentResult"></span>
          </div>
          <div class="mb-3 findParentTaskResult">
            <label><input id="parentIdModal" hidden></label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                  onclick="setParentId()">Применить
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


<section style="padding-top: 20px; padding-bottom: 10px;">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h4>Описание</h4>
        <div>
          <p th:utext="${task.getDescriptionHtml()}">Description</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div th:insert="~{fragments/nav :: task}"></div>
      </div>
    </div>
  </div>
</section>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>