<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title>Hello</title>
</head>

<body>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-xl-6 p-4">
      <div class="card shadow">
        <div class="card-header">

          <div th:insert="~{lang/selector :: lang-default}"></div>

          <div>
            <h3 class="card-title text-center fst-italic">Task Tracker</h3>
          </div>
        </div>
        <img src="/image/intro.png" class="card-img-top" alt="intro">
        <div class="card-body">
          <p class="card-text" th:utext="#{page.root.description}">Description</p>
        </div>
        <div class="card-footer">
          <a href="/login" class="btn btn-primary"
             th:text="#{page.root.login.button}">Login</a>
          <a href="/registration" class="btn btn-outline-primary"
             th:text="#{page.root.register.button}">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>